.field {
  width: 100%;
  height: 100vh;
  background-color: #404040;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-stack {
  position: relative;

  >img {
    position: absolute;
    width: 120px;
    height: auto;
  }
}

.top-card {
  cursor: pointer;
  transition: all 0.1s ease-in-out;

  &:hover {
    transform: translateY(-20px) scale(1.1);
  }
}

.pick-card {
  animation: pick-card-animation 1.2s ease-in-out;
  transform: scale(1.7) translateX(120px) translateY(-150px) rotate(-10deg);
}

@keyframes pick-card-animation {
  0% {
    transform: scale(1);
  }

  30% {
    transform: scale(1.4);
  }

  100% {
    transform: scale(1.7) translateX(120px) translateY(-150px) rotate(-10deg);
  }
}

.player-position {
  position: absolute;
  top: 20px;
  left: 20px;
}
