@for(player of game.players; track player; let index = $index) {
<app-player class="player-position" [ngStyle]="{'top.px': 150 * index}" [playerActive]="index == game.currentPlayer" [name]="player"></app-player>
}
<div class="field">
  <div class="card-stack">
    @for(count of [1,2,3,4,5]; track count; let index = $index) {
    <img [ngStyle]="{'right.px': index * 5}" src="../../assets/img/game-cards/card_cover.png" alt="" srcset="">
    }
    <img (click)="takeCard()" class="top-card" [ngStyle]="{'right.px': 25}"
      src="../../assets/img/game-cards/card_cover.png" alt="" srcset="">
    <img (click)="takeCard()" *ngIf="pickCardAnimation" class="pick-card" [ngStyle]="{'right.px': 25}"
      src="../../assets/img/game-cards/{{currentCard}}.png" alt="" srcset="">
    @for(card of game.playedCards; track card) {
    <img [ngStyle]="{'right.px': 25}" class="pick-card" src="../../assets/img/game-cards/{{card}}.png" alt=""
      srcset="">
    }
  </div>
</div>

    <button class="add-btn" mat-fab color="primary" (click)="openDialog()">
      <mat-icon>add</mat-icon>
    </button>

    <app-game-card-info [card]="currentCard" class="game-card-info"></app-game-card-info>
