<div class="field">
  <div class="card-stack">
    @for(count of [1,2,3,4,5]; track count; let index = $index) {
      <img [ngStyle]="{'right.px': index * 5}" src="./../../assets/img/game-cards/card_cover.png" alt="" srcset="">
    }
    <img (click)="takeCard()" class="top-card" [ngStyle]="{'right.px': 25}" src="./../../assets/img/game-cards/card_cover.png" alt="" srcset="">
    <img (click)="takeCard()"  *ngIf="pickCardAnimation" class="pick-card" [ngStyle]="{'right.px': 25}" src="./../../assets/img/game-cards/ace_1.png" alt="" srcset="">

    <!-- <img *ngFor="count of [1,2,3,4,5]; let i = index" [ngStyle]="{'right.px':  i * 5 }" src="./../../assets/img/game-cards/card_cover.png" alt="" srcset=""> -->

  </div>
</div>
